# === OS-specific ===
.DS_Store
Thumbs.db

# === Compiled object files ===
*.o
*.obj
*.lo
*.slo

# === Compiled static libraries ===
*.lib
*.a
*.la

# === Compiled dynamic libraries ===
*.dll
*.so
*.dylib

# === Executables ===
*.exe
*.out
*.app

# === Build directories ===
build/
cmake-build-*/

# === CLion ===
.idea/
*.iml

# === Qt Creator ===
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.autosave
*.creator.*
*.creator.user.*
*.creator.user

# === CMake ===
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt

# === Logs and dumps ===
*.log

# === Others ===
*.swp
*~